<div class="container start-round-page">
    <div class="page-heading-wrapper">
        <h3>Now play the team</h3>
        <h1>{{teamsService.activeTeam().name}}</h1>
        <img class="team-logo" [src]="teamsService.activeTeam().icon" alt="">
    </div>

   
    <ul class="team-status-list">
        @for (team of teamsService.teamList(); track team.name) {
            <!-- TODO додати стан активний до команди -->
        <li class="team-status-list__item ">
            <div class="team-identity">
                <img class="team-logo-min" [src]="team.icon" alt="Логотип команди">
                <p class="team-name">{{team.name}}</p>
            </div>
            <p class="team-score">{{team.score}}</p>
        </li>
    }
    </ul>

    




    <p-button severity="contrast" [routerLink]="['/game']" label="Start round" />
</div>