:host {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stausBar {
    // position: fixed;
    margin: 30px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    .flex-wrapper {
        display: flex;
        gap: 20px;
    }

    .stausBar__el {

        &.timer {
            font-size: 28px;
        }

        &.guessed {
            color: var(--p-green-600);
        }

        &.not-guessed {
            color: var(--p-yellow-400);
        }


    }
}

.lastWord-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.lastWord-menu-wrapper{
    display: flex;
    gap: 20px;
}
.was-words{
    margin: 40px 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.team-identity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.team-logo-min {
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50%;
    background-color: white;
}
.buttons-wrapper{
    display:  flex;
    align-items: center;
    justify-content: space-between;
}